<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link href="bootstrap-5.3.2/bootstrap.css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Lista de Produtos</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Unidade de Medida</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.preco}"></td>
                    <td th:text="${produto.quantidade}"></td>
                    <td th:text="${produto.unidadeDeMedida}"></td>
                    <td>
                        <a href="@{/produtos/editar/{id}(id=${produto.id})}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="@{/produtos/excluir/{id}(id=${produto.id})}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="@{/produtos/novo}" class="btn btn-success">Adicionar Novo Produto</a>
    </div>

    <script src="bootstrap-5.3.2/bootstrap.js/bootstrap.min.js"></script>
</body>

</html>
